<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Login </title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body style="background-color: aliceblue;">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3">
				<form th:action="@{/signup}" method="post" th:object="${loginData}" class="bg-white p-4">
					<h3 class="text-center">SignUp Here !</h3>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">User Name</label>
						<input type="text" name="userName" th:value="${loginData.userName}" class="form-control"
							th:classappend="${#fields.hasErrors('userName')? 'is-invalid':''}" id="exampleInputEmail1"
							aria-describedby="username">

						<div th:each="e : ${#fields.errors('userName')}" th:text="${e}" id="validationServer01Feedback"
							class="invalid-feedback">
						</div>
						<!--<p th:each="e : ${ #fields.errors('userName')}" th:text="${e}" ></p>	-->

					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Email</label>
						<input type="email" name="email" th:value="${loginData.email}"
							th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}" class="form-control"
							id="exampleInputPassword1">
						<div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationServer01Feedback"
							class="invalid-feedback">
						</div>
					</div>
					<div class="mb-3 form-check">
						<input th:classappend="${#fields.hasErrors('agreed') ? 'is-invalid':''}" th:value="${loginData.agreed}"
							type="checkbox" class="form-check-input" name="agreed"  id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Agree terms and condition</label>
						<div th:each="e : ${#fields.errors('agreed')}" th:text="${e}" class="invalid-feedback">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>